@import "node_modules/bootstrap/scss/bootstrap";

$font-size: 16px;
$text: #444;
$dark: #000;
$button: #0067FF;
$background: #fff;
$my_background: #F6F6F6;

html body {
  font-size: $font-size;
  color: $text;

  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 3.4375rem;
  }

  h3 {
    font-size: 3.125rem;
  }

  h4 {
    font-size: 2.875rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.3125rem;
  }

  header {

    .first_nav_item {
      padding-left: 16px;
      padding-right: 16px;
    }

    .first_nav_button {
      padding-left: 16px;
      padding-right: 0;
    }

    .my_menu {
      border: $button solid 2px;


      .icon_menu {
        position: relative;

        &::before, &::after {
          content: '';
          position: absolute;
          width: 32px;
          height: 2px;
          background-color: $text;
          top: 0;
          transition: 0.5s;

        }

        &::before {
          transform-origin: left center;
          transform: rotate(60deg);
          left: 0;
        }

        &::after {
          transform-origin: right center;
          transform: rotate(-60deg);
          right: 0;
        }
      }

      &:not(.collapsed) {
        .icon_menu {
          &::before {
            left: 7px;
          }

          &::after {
            right: 7px;
          }
        }
      }
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .first_nav_item {
        padding-left: 0;
      }
      .first_nav_button {
        padding-left: 0;
      }
      .my_brand {
        padding-left: 86.5px;
      }
    }

    .nav_header {
      color: $text;
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 19.2px;
    }

    .nav_info {
      color: $text;
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .nav_header {
        font-size: 0.6rem;
        line-height: 9.6px;
      }
      .nav_info {
        font-size: 0.5rem;
        line-height: 12px;
      }
    }

    .my_button {
      border-radius: 50px;
      border: none;
      background: $blue;
      color: $background;
      font-family: 'DM Sans', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
    }

    .my_button:hover {
      background: #4C40F7;
      color: $background;
      transition: 0.5s;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .my_button {
        font-size: 7px;
        line-height: 7px;
        margin-right: 140.7px;
      }
    }

    .down_link {
      color: $text;
      font-family: 'Inter', sans-serif;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0.182px;
    }


  }

  .first_section {
    background-color: #8BD5DC;

    .first_header {
      color: $dark;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 60px;
      padding-left: 100px;
      padding-top: 60px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .first_header {
        font-size: 1rem;
        line-height: 20px;
        padding-left: 40px;
        padding-top: 10px;
      }
    }


    .first_paragraph {
      color: #414154;
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      padding-left: 100px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .first_paragraph {
        font-size: 0.3rem;
        line-height: 10px;
        padding-left: 40px;
        margin-bottom: 1px;
      }
    }

    .header_button {
      border-radius: 50px;
      background: $background;
      color: $dark;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      margin-left: 100px;
      font-size: 1rem;
    }

    .header_button:hover {
      background: $button;
      color: $background;
      border-radius: 50px;
      transition: 0.5s;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .header_button {
        font-size: 0.3rem;
        line-height: 8px;
        margin-left: 40px;
      }
    }
  }

  .second_section {
    background: #F7F8FC;

    .left_second {
      padding-top: 344px;

      .link_second {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 22.4px;
      }

      .link_second:hover {
        text-decoration: none;
      }

      @media (min-width: 375px) and (max-width: 768px) {
        .link_second {
          font-size: 0.5rem;
        }
      }

      .second_header {
        color: $dark;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 77px;
      }

      @media (min-width: 375px) and (max-width: 768px) {
        .second_header {
          font-size: 1.7rem;
          line-height: 38.5px;
        }
      }

      .second_text {
        font-family: 'DM Sans', sans-serif;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px;
      }

      @media (min-width: 375px) and (max-width: 768px) {
        .second_text {
          font-size: 0.4375rem;
          line-height: 11.2px;
        }
      }
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .left_second {
        padding-top: 50px;
      }
    }

    .modal_left {
      padding-top: 176px;
      padding-bottom: 214px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .modal_left {
        padding-top: 50px;
        padding-bottom: 3px;
      }
    }

    .modal_right {
      padding-top: 207px;
      padding-bottom: 188px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .modal_right {
        padding-top: 3px;
        padding-bottom: 50px;
      }
    }

    .modal_block {
      .modal_logo {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 103, 255, 0.06);
        margin-left: auto;
        margin-right: auto;
      }

      .modal_link {
        a {
          text-decoration: none;
          color: $text;
          font-family: 'DM Sans', sans-serif;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 22.4px;
        }


        .colored_line {
          border: none;
          height: 2px;
          width: 90.4px;
          background-color: #F3874A;
          margin-top: 0;
        }
      }

      h6 {
        color: $text;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 27.3px;
      }

      p {
        font-family: 'DM Sans', sans-serif;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px;
      }
    }
  }

  .third_section {
    padding-top: 170px;


    .third_left {
      width: 475px;
      height: 615px;
      border-radius: 20px;
      background: #0067FF;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .third_left {
        margin-right: auto;
        margin-left: auto;
      }
    }

    .small_third {
      margin-top: 405px;
    }

    .link_third {
      text-decoration: none;
      font-family: 'Inter', sans-serif;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .link_third {
        font-size: 0.5rem;
      }
    }

    h5 {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 38.4px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      h5 {
        font-size: 1rem;
        line-height: 19.2px;
      }
    }


    p {
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      font-size: 14px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      p {
        font-size: 7px;
        line-height: 12px;
      }
    }

    .third_header {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 19.2px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .third_header {
        line-height: 8.1px;
      }
    }

    .third_right {
      padding-bottom: 170px;

      .third_button {
        color: #F8FAFD;
        border-radius: 50px;
        background: #0067FF;
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
      }

      .third_button:hover {
        background: #4C40F7;
        color: $background;
        transition: 0.5s;
      }

      @media (min-width: 375px) and (max-width: 768px) {
        .third_button {
          font-size: 8px;
          line-height: 8px;

        }
      }
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .third_right {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .next {
      padding-top: 167px;
      padding-bottom: 173px;

      .third_next_header {
        color: #171717;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
      }

      @media (min-width: 375px) and (max-width: 768px) {
        .third_next_header {
          line-height: 30px;
          font-size: 25px;
          text-align: center;
        }
      }

      .third_next_text {
        font-family: 'DM Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      @media (min-width: 375px) and (max-width: 768px) {
        .third_next_text {
          font-size: 7.5px;
          line-height: 12px;
        }
      }

      .next_logo {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #4C40F7;
        border-radius: 25px;
      }

      span {
        font-family: 'Inter', sans-serif;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }

      p {
        color: #444;
        font-family: 'DM Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .next {
        padding-top: 5px;
        padding-bottom: 50px;
      }
    }
  }

  .fourth_section {
    background: $my_background;
    padding-top: 129px;
    padding-bottom: 216px;

    .fourth_block {
      width: 500px;
      height: 148px;
      border-radius: 5px;
      background: $background;
      top: 510px;
      left: 20px;

      .fourth_logo {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #DCEEFE;
        border-radius: 25px;
      }

      .fourth_logo:hover {
        background: #4C40F7;
        transition: 0.5s;
      }

      .fourth_word {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
      }

      .fourth_line {
        border: none;
        height: 5px;
        width: 70px;
        background-color: #DCEEFE;;
        margin-top: 50px;
      }
    }

    .link_fourth {
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 22.4px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .link_fourth {
        font-size: 0.5rem;
        line-height: 12.2px;
      }
    }

    .link_fourth:hover {
      text-decoration: none;
    }

    .fourth_header {
      font-family: 'Inter', sans-serif;
      font-size: 3.4375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 77px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .fourth_header {
        font-size: 25.2px;
        line-height: 38.5px;
      }
    }

    .fourth_text {
      font-family: 'DM Sans', sans-serif;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 22.4px;
      letter-spacing: 0.28px;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .fourth_text {
        font-size: 0.4375rem;
        line-height: 11.2px;
      }
    }


    .fourth_button {
      color: #F8FAFD;
      border-radius: 50px;
      background: #4C40F7;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
    }

    .fourth_button:hover {
      background: #0067FF;
      color: $background;
      transition: 0.5s;
    }

    @media (min-width: 375px) and (max-width: 768px) {
      .fourth_button {
        font-size: 0.5rem;
        line-height: 8px;
      }
    }
  }

  .fifth_section {
    background: $background;

    .fifth_header {
      padding-top: 78px;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
    }

    .fifth_text {
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.16px;
      text-transform: capitalize;
    }
  }

  .sixth_section {
    background: $my_background;
    padding-bottom: 119px;

    .sixth_link {
      text-decoration: none;
      color: #F3874A;
      font-family: 'Inter', sans-serif;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 18;
    }

    .sixth_text {
      color: #A7A9AC;
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .sixth_link:hover {
      color: #f5bf62;
    }

    .name {
      color: #F3874A;
      font-family: 'Inter', sans-serif;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .job {
      color: #A7A9AC;
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  footer {
    background: black;

    .my_footer {
      padding-top: 140px;
      padding-bottom: 140px;

      .footer_logo {
        color: $background;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right: 20px;
      }

      .footer_header {
        color: $background;
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .footer_text {
        color: rgba(255, 255, 255, 0.71);
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
      }

      .big_link {
        text-decoration: none;
        color: $background;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
      }

      .big_link:hover {
        color: rgba(255, 255, 255, 0.71);
        transition: 0.5s;
      }

      li {
        list-style-type: none;
      }

      .small_link {
        text-decoration: none;
        color: $background;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .small_link:hover {
        color: rgba(255, 255, 255, 0.71);
        transition: 0.5s;
      }

      .last_text {
        color: $background;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
      }
    }
  }
}



