doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Test landing
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family' +
        '=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,' +
        '300;1,400;1,500;1,600;1,700;1,800&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='./css/style.css')
    body#top
        header
            .container.pl-0.pr-0.header_container
                    nav.navbar.navbar-expand-lg.pl-0.pr-0.flex-nowrap
                        a.navbar-brand.my_brand(href='#top')
                            img(src='./images/header/logo.svg' alt='logo')
                        ul.navbar-nav.ml-auto.shadow_container
                            li.nav-item.pr-3
                                a.nav-link.nav_header(href='#')
                                    div.d-flex.align-items-center
                                        img(src='./images/header/mail.svg' alt='mail' class='mr-2 logo')
                                        div.d-flex.flex-column
                                            span.nav_header Mail Us
                                            span.nav_info Info@domain.com
                            li.nav-item.first_nav_item
                                a.nav-link.nav_header(href='#')
                                    div.d-flex.align-items-center
                                        img(src='./images/header/phone.svg' alt='phone' class='mr-2')
                                        div.d-flex.flex-column
                                            span.nav_header Call Us
                                            span.nav_info (+021) 2336 278
                            li.nav-item.first_nav_button
                                button.btn.mw-100.btn-lg.my_button.mw-100(type='button') Make Appointment
            .container.pl-0.pr-0
                nav.navbar.navbar-expand-lg.justify-content-around
                    button.navbar-toggler.collapsed.my_menu(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
                        span.navbar-toggler-icon.icon_menu
                    #navbarSupportedContent.collapse.navbar-collapse.small_menu
                        ul.navbar-nav.mr-auto.small_menu
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#top') HOME
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#sect_3') ABOUT US
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#sect_2') SERVICES
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#sect_4') APPOINTMENT
                            li.nav-item.dropdown.pr-5
                                a#navbarPages.nav-link.dropdown-toggle.down_link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | PAGES
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item.dropdown.pr-5
                                a#navbarBLOG.nav-link.dropdown-toggle.down_link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | BLOG
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#bottom') CONTACT
                        ul.navbar-nav.ml-auto.small_menu
                            li.nav-item
                                a.nav-link.social_link(href='#')
                                    img(src='images/header/facebook_logo.svg' alt='facebook logo' class='mw-100')
                            li.nav-item
                                a.nav-link.social_link(href='#')
                                    img(src='images/header/twitter_logo.svg' alt='twitter logo' class='mw-100')
                            li.nav-item
                                a.nav-link.social_link(href='#')
                                    img(src='images/header/youtube_logo.svg' alt='youtube logo' class='mw-100')
                            li.nav-item
                                a.nav-link.social_link(href='#')
                                    img(src='images/header/instagram_logo.svg' alt='instagram logo' class='mw-100')
        main
            section.first_section
                .container.position-relative
                    .float-right
                        img(src='./images/first_doctor.png' alt='doctor' class='mw-100 first_section float-right')
                        .position-absolute
                            h1.first_header Best Medical &<br>Healthcare Service<br>For Your Family
                            p.first_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                <br>eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            button.btn.btn-lg.header_button(type='button') Contact us

            section.second_section
                .container
                    .row
                        .col-lg-6.col-md-12.col-sm-12
                            div.left_second
                                a(href='#' class='link_second' id='sect_2') Medical Services
                                h2.second_header We Maintain Regular<br>Procedures
                                p.second_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus elit non
                                    <br>gravida ornare. Fusce pulvinar dui eget massa euismod ultrices. Lorem ipsum dolor
                                    <br>sit amet, consectetur adipiscing elit.
                        .col-lg-6.col-md-12.col-sm-12.pl-0.pr-0
                            .container
                                .row
                                    .col-lg-6.col-md-6.col-sm-12.modal_left
                                        .bg-white.modal_block.pt-5.mb-4
                                            .modal_logo
                                                a(href='#')
                                                    img(src='./images/second_section/registration.svg' alt='logo' class='mw-100')
                                            h6.text-center.pt-4 Registration
                                            p.text-center Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
                                            .modal_link.pb-5.text-center
                                                a(href='#') Learn More →
                                                hr.colored_line
                                        .bg-white.modal_block.pt-5.mb-4
                                            .modal_logo.bg-primary
                                                a(href='#')
                                                    img(src='./images/second_section/waiting_list.svg' alt='logo' class='mw-100')
                                            h6.text-center.pt-4 Waiting List
                                            p.text-center Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
                                            .modal_link.pb-5.text-center
                                                a(href='#') Learn More →
                                                hr.colored_line
                                    .col-lg-6.col-md-6.col-sm-12.modal_right
                                        .bg-white.modal_block.pt-5.mb-4
                                            .modal_logo
                                                a(href='#')
                                                    img(src='./images/second_section/consulation.svg' alt='logo' class='mw-100')
                                            h6.text-center.pt-4 Consultation
                                            p.text-center Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
                                            .modal_link.pb-5.text-center
                                                a(href='#') Learn More →
                                                hr.colored_line
                                        .bg-white.modal_block.pt-5.mb-4
                                            .modal_logo
                                                a(href='#')
                                                    img(src='./images/second_section/treatment.svg' alt='logo' class='mw-100')
                                            h6.text-center.pt-4 Treatment
                                            p.text-center Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
                                            .modal_link.pb-5.text-center
                                                a(href='#') Learn More →
                                                hr.colored_line
            section.third_section
                .container
                    .row
                        .col-lg-6.col-md-6.col-sm-12
                            .position-relative
                                .float-lg-right
                                    .float-right.third_left.mt-4.ml-5
                                    .position-absolute.big_third
                                        img(src='./images/back_doctor.png' alt='doctor' class='mw-100')
                                    .position-absolute.small_third
                                        img(src='./images/on_doctor.png' alt='doctor' class='mw-100')

                        .col-lg-6.col-md-6.col-sm-12
                            div.about_medical
                                a(href='#' class='link_third' id='sect_3') About MedicaLife
                                h5 We Provide Essential Services For<br>Your Health Care
                                p.pb-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    <br>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    <br>veniam, quis nostrud exercitation ullamco laboris
                            .row.quality
                                .col-lg-6.col-md-6.col-sm-12.pb-4
                                    div.d-flex.align-items-center.pb-4
                                        img(src='./images/third_section/heart.svg' alt='mail' class='mw-100 mr-2 pb-4')
                                        div.d-flex.flex-column
                                            span.third_header Quality of Care Services
                                            p.pt-2 Lorem ipsum dolor sit amet,<br>consecte adipiscing elit
                                    div.d-flex.align-items-center
                                        img(src='./images/third_section/medicine.svg' alt='mail' class='mw-100 mr-2 pb-4')
                                        div.d-flex.flex-column
                                            span.third_header Infection Prevention
                                            p.pt-2 Lorem ipsum dolor sit amet,<br>consecte adipiscing elit
                                .col-lg-6.col-md-6.col-sm-12
                                    div.d-flex.align-items-center.pb-4
                                        img(src='./images/third_section/stethoscope.svg' alt='mail' class='mw-100 mr-2 pb-4')
                                        div.d-flex.flex-column
                                            span.third_header Standards of Treatment
                                            p.pt-2 Lorem ipsum dolor sit amet,<br>consecte adipiscing elit
                                    div.d-flex.align-items-center
                                        img(src='./images/third_section/my_clock.svg' alt='mail' class='mw-100 mr-2 pb-4')
                                        div.d-flex.flex-column
                                            span.third_header 24/7 Working Time
                                            p.pt-2 Lorem ipsum dolor sit amet,<br>consecte adipiscing elit
                            div.d-flex.align-items-center
                                img(src='./images/third_section/check.svg' alt='mail' class='mw-100 mr-2 pb-2')
                                div.d-flex.flex-column
                                    p.pt-2 24 Hours Emergency Assistance Call Us
                            div.d-flex.align-items-center
                                img(src='./images/third_section/check.svg' alt='mail' class='mw-100 mr-2 pb-3')
                                div.d-flex.flex-column
                                    p We are committed to providing healthcare service
                            div.d-flex.align-items-center.pb-4
                                img(src='./images/third_section/check.svg' alt='mail' class='mw-100 mr-2 pb-3')
                                div.d-flex.flex-column
                                    p Really know the true needs and expectations of patients
                            div.third_right
                                button.btn.btn-lg.third_button(type='button') Contact us
                .container.next
                    .row.next_row
                        .col-lg-6.col-md-6.col-sm-12.pt-5
                            h1.third_next_header How It Works
                            p.third_next_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus elit<br>non gravida ornare. Fusce pulvinar dui eget massa euismod ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            .d-flex.pb-2.logo_center
                                .next_logo
                                    img(src='./images/third_section/registration.svg' alt='logo' class='mw-100')
                                div.pl-2
                                    span 1. Registration Process
                                    p Lorem ipsum dolor sit amet.
                            .d-flex.pb-2.logo_center
                                .next_logo
                                    img(src='./images/third_section/diagnostic.svg' alt='logo' class='mw-100')
                                div.pl-2
                                    span 2. Diagnostic Process
                                    p Lorem ipsum dolor sit amet.
                            .d-flex.pb-2.logo_center
                                .next_logo
                                    img(src='./images/third_section/doctor_bag.svg' alt='logo' class='mw-100')
                                div.pl-2
                                    span 3. Treatment Process
                                    p Lorem ipsum dolor sit amet.
                        .col-lg-6.col-md-6.col-sm-12
                            img(src='./images/smile_doctor.png' alt='doctor' class='mw-100')
            section.fourth_section
                .container
                    .row
                        .col-lg-6.col-md-6.col-sm-12
                            .position-relative.d-flex.justify-content-center
                                img(src='./images/ok_doctor.png' alt='doctor' class='mw-100')
                                .position-absolute.fourth_block
                                    .d-flex.justify-content-around
                                        .fourth_elemen.pt-4.pl-4
                                            .fourth_logo.ml-4.mb-2
                                                img(src='./images/second_section/treatment.svg' alt='logo' class='mw-100')
                                            span.fourth_word Appointment
                                        hr.fourth_line
                                        .fourth_elemen.pt-4
                                            .fourth_logo.ml-4.mb-2
                                                img(src='./images/fourth_section/contact_form_fourth.svg' alt='logo' class='mw-100')
                                            span.fourth_word Consultation
                                        hr.fourth_line
                                        .fourth_elemen.pt-4.pr-4
                                            .fourth_logo.ml-3.mb-2
                                                img(src='./images/fourth_section/avatar_fourth.svg' alt='logo' class='mw-100')
                                            span.fourth_word Treatment

                        .col-lg-6.col-md-6.col-sm-12
                            div.pt-5.mt-5.left_fourth
                                a(href='#' class='link_fourth' id='sect_4') APPOINTMENT
                                h2.fourth_header Make An<br>Appointment And<br>Get Treatment
                                p.fourth_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus elit non gravida ornare. Fusce pulvinar dui eget massa euismod ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                div.my_fourth_button
                                    button.btn.btn-lg.fourth_button(type='button') Contact us
            section.fifth_section.pb-4
                .container
                    h4.fifth_header Our Professional Team
                    p.fifth_text MAKE YOUR WORKOUT EASIER AND GET FASTER RESULTS
                    .slider.d-flex.text-center
                        .slide
                            img(src='images/fifth_section/neuros.png' alt='Image 1')
                            div
                                span Dr. Philip Baily
                                br
                                a(href='#') Neurosurgery
                        .slide
                            img(src='images/fifth_section/cardiolog.png' alt='Image 2')
                            div
                                span Dr. Philip Baily
                                br
                                a(href='#') Cardiology
                        .slide
                            img(src='images/fifth_section/baily.png' alt='Image 3')
                            div
                                span Dr. Philip Baily
                                br
                                a(href='#') Neurosurgery
                    .d-flex.justify-content-around
                        button.prev &#x276E;
                        button.next &#x276F;


            section.sixth_section
                .container
                    .d-flex.justify-content-center
                        a(href='#' class='sixth_link') Testimonials
                    h5.text-center.pt-4.pb-5 What Patients Say About Us
                    .row.about_us
                        .col-lg-4-.col-md-4.col-sm-12.mt-5.clients
                            img(src='images/sixth_section/smith.png' alt='men' class='mw-100')
                            p.pt-2.sixth_text "Lorem  ipsum dolor sit amet,<br>consectetur adipiscing elit. Integer<br>laoret purus  sed mattis placerat. Ut<br>at ante molestie. consectetu adipiscing elit."
                            span.name Smithi John
                            br
                            span.job Buisnessmen
                        .col-lg-4-.col-md-4.col-sm-12.mt-5.clients
                            img(src='images/sixth_section/dani.png' alt='men' class='mw-100')
                            p.pt-2.sixth_text "Lorem  ipsum dolor sit amet,<br>consectetur adipiscing elit. Integer<br>laoret purus  sed mattis placerat. Ut<br>at ante molestie. consectetu adipiscing elit."
                            span.name Bisto John
                            br
                            span.job Buisnessmen
                        .col-lg-4-.col-md-4.col-sm-12.mt-5.clients
                            img(src='images/sixth_section/bisto.png' alt='men' class='mw-100')
                            p.pt-2.sixth_text "Lorem  ipsum dolor sit amet,<br>consectetur adipiscing elit. Integer<br>laoret purus  sed mattis placerat. Ut<br>at ante molestie. consectetu adipiscing elit."
                            span.name Dani John
                            br
                            span.job Buisnessmen
        footer
            .container#bottom
                .d-flex.justify-content-between.my_footer.row
                    div
                        span.footer_logo M
                        span.footer_header Medicate
                        p.footer_text.pt-4.pb-2 We are the most powerful and leading<br>software agency in the world
                        .row.right_footer
                            a.nav-link.my_footer_link(href='#')
                                svg(width='31' height='31' viewbox='0 0 31 31' fill='white' xmlns='http://www.w3.org/2000/svg')
                                    g(clip-path='url(#clip0_1_29)')
                                        path(d='M15.5 0C6.95334 0 0 6.95334 0 15.5C0 24.046 6.95334 31 15.5 31C24.046 31 31 24.046 31 15.5C31 6.95334 24.0473 0 15.5 0ZM19.3547 16.0457H16.833V25.0338H13.0963C13.0963 25.0338 13.0963 20.1227 13.0963 16.0457H11.32V12.869H13.0963V10.8143C13.0963 9.3427 13.7955 7.04324 16.8673 7.04324L19.6363 7.05385V10.1375C19.6363 10.1375 17.9537 10.1375 17.6265 10.1375C17.2994 10.1375 16.8342 10.3011 16.8342 11.0028V12.8696H19.6812L19.3547 16.0457Z' fill='white')
                                    defs
                                        clippath#clip0_1_29
                                            rect(width='31' height='31' fill='white')
                            a.nav-link.my_footer_link(href='#')
                                svg(width='31' height='31' viewbox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    g(clip-path='url(#clip0_1_33)')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M21.6632 12.339C21.669 12.4756 21.6729 12.6122 21.6729 12.7507C21.6729 16.9522 18.4741 21.7978 12.6247 21.7978C10.8287 21.7978 9.15759 21.2718 7.75 20.3699C7.99897 20.399 8.25181 20.4135 8.50853 20.4135C9.99847 20.4135 11.3692 19.9059 12.4581 19.0524C11.066 19.0272 9.89191 18.1079 9.48697 16.8446C9.68169 16.8814 9.88028 16.9008 10.0857 16.9008C10.3753 16.9008 10.6563 16.8621 10.9236 16.7894C9.46856 16.4978 8.37291 15.2123 8.37291 13.672V13.6313C8.80109 13.8696 9.29225 14.013 9.81344 14.0294C8.95997 13.4588 8.39809 12.4853 8.39809 11.3828C8.39809 10.7996 8.55503 10.2532 8.82919 9.78341C10.3976 11.7073 12.741 12.9735 15.3838 13.1062C15.3295 12.8737 15.3014 12.6306 15.3014 12.3816C15.3014 10.6253 16.7255 9.20119 18.4808 9.20119C19.3963 9.20119 20.2227 9.58772 20.802 10.2058C21.5266 10.0634 22.2076 9.79891 22.8218 9.43466C22.5845 10.1767 22.0797 10.7996 21.4239 11.1939C22.0672 11.1164 22.6794 10.9459 23.25 10.6931C22.8238 11.3305 22.2842 11.8904 21.6632 12.339V12.339ZM15.5 0C6.93916 0 0 6.93916 0 15.5C0 24.0599 6.93916 31 15.5 31C24.0608 31 31 24.0599 31 15.5C31 6.93916 24.0608 0 15.5 0' fill='white')
                                    defs
                                        clippath#clip0_1_33
                                            rect(width='31' height='31' fill='white')
                            a.nav-link.my_footer_link(href='#')
                                svg(width='31' height='31' viewbox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    g(clip-path='url(#clip0_1_38)')
                                        path(d='M13.3516 18.0003L17.6508 15.506L13.3516 12.9995V18.0003Z' fill='white')
                                        path(d='M15.5 0C12.4343 0 9.43758 0.909059 6.88861 2.61222C4.33965 4.31538 2.35297 6.73615 1.17981 9.56841C0.00665484 12.4007 -0.300297 15.5172 0.297774 18.5239C0.895846 21.5306 2.37208 24.2924 4.5398 26.4602C6.70751 28.6279 9.46935 30.1041 12.4761 30.7022C15.4828 31.3002 18.5993 30.9933 21.4316 29.8201C24.2638 28.647 26.6846 26.6603 28.3878 24.1113C30.0909 21.5624 31 18.5656 31 15.5C31 11.3891 29.3669 7.44666 26.4601 4.53985C23.5533 1.63303 19.6108 0 15.5 0V0ZM23.6579 18.2431C23.6581 18.6485 23.5785 19.05 23.4236 19.4246C23.2686 19.7992 23.0414 20.1396 22.7548 20.4263C22.4682 20.7131 22.128 20.9406 21.7535 21.0958C21.379 21.251 20.9775 21.3309 20.5721 21.3309H10.4278C10.0224 21.3309 9.62097 21.251 9.24646 21.0958C8.87195 20.9406 8.53169 20.7131 8.24513 20.4263C7.95856 20.1396 7.73131 19.7992 7.57636 19.4246C7.42141 19.05 7.34179 18.6485 7.34206 18.2431V12.7569C7.34179 12.3515 7.42141 11.95 7.57636 11.5754C7.73131 11.2008 7.95856 10.8604 8.24513 10.5737C8.53169 10.2869 8.87195 10.0594 9.24646 9.90423C9.62097 9.74903 10.0224 9.66915 10.4278 9.66915H20.5721C20.9775 9.66915 21.379 9.74903 21.7535 9.90423C22.128 10.0594 22.4682 10.2869 22.7548 10.5737C23.0414 10.8604 23.2686 11.2008 23.4236 11.5754C23.5785 11.95 23.6581 12.3515 23.6579 12.7569V18.2431Z' fill='white')
                                    defs
                                        clippath#clip0_1_38
                                            rect(width='31' height='31' fill='white')
                            a.nav-link.my_footer_link(href='#')
                                svg(width='31' height='31' viewbox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    g(clip-path='url(#clip0_1_44)')
                                        path(d='M18.4668 15.5C18.4668 17.1385 17.1385 18.4668 15.5 18.4668C13.8615 18.4668 12.5332 17.1385 12.5332 15.5C12.5332 13.8615 13.8615 12.5332 15.5 12.5332C17.1385 12.5332 18.4668 13.8615 18.4668 15.5Z' fill='white')
                                        path(d='M22.4383 10.2511C22.2956 9.86463 22.0681 9.51483 21.7725 9.22771C21.4854 8.93207 21.1358 8.70454 20.7491 8.56193C20.4355 8.44012 19.9644 8.29514 19.0966 8.25565C18.1579 8.21284 17.8764 8.20361 15.5 8.20361C13.1233 8.20361 12.8418 8.2126 11.9033 8.25541C11.0356 8.29514 10.5642 8.44012 10.2508 8.56193C9.86414 8.70454 9.51434 8.93207 9.22746 9.22771C8.93182 9.51483 8.70429 9.8644 8.56144 10.2511C8.43964 10.5647 8.29465 11.0361 8.25516 11.9038C8.21235 12.8423 8.20312 13.1238 8.20312 15.5005C8.20312 17.8769 8.21235 18.1584 8.25516 19.0971C8.29465 19.9648 8.43964 20.436 8.56144 20.7496C8.70429 21.1363 8.93158 21.4858 9.22722 21.773C9.51434 22.0686 9.86391 22.2961 10.2506 22.4388C10.5642 22.5608 11.0356 22.7058 11.9033 22.7453C12.8418 22.7881 13.123 22.7971 15.4997 22.7971C17.8767 22.7971 18.1581 22.7881 19.0964 22.7453C19.9641 22.7058 20.4355 22.5608 20.7491 22.4388C21.5253 22.1393 22.1388 21.5258 22.4383 20.7496C22.5601 20.436 22.705 19.9648 22.7448 19.0971C22.7876 18.1584 22.7966 17.8769 22.7966 15.5005C22.7966 13.1238 22.7876 12.8423 22.7448 11.9038C22.7053 11.0361 22.5603 10.5647 22.4383 10.2511V10.2511ZM15.5 20.0706C12.9757 20.0706 10.9294 18.0245 10.9294 15.5002C10.9294 12.9759 12.9757 10.9299 15.5 10.9299C18.024 10.9299 20.0703 12.9759 20.0703 15.5002C20.0703 18.0245 18.024 20.0706 15.5 20.0706ZM20.251 11.8173C19.6611 11.8173 19.1829 11.339 19.1829 10.7492C19.1829 10.1593 19.6611 9.6811 20.251 9.6811C20.8409 9.6811 21.3191 10.1593 21.3191 10.7492C21.3189 11.339 20.8409 11.8173 20.251 11.8173Z' fill='white')
                                        path(d='M15.5 0C6.9409 0 0 6.9409 0 15.5C0 24.0591 6.9409 31 15.5 31C24.0591 31 31 24.0591 31 15.5C31 6.9409 24.0591 0 15.5 0ZM24.3467 19.1695C24.3037 20.1169 24.153 20.7638 23.933 21.33C23.4707 22.5256 22.5256 23.4707 21.33 23.933C20.764 24.153 20.1169 24.3034 19.1697 24.3467C18.2206 24.39 17.9174 24.4004 15.5002 24.4004C13.0829 24.4004 12.7799 24.39 11.8305 24.3467C10.8833 24.3034 10.2362 24.153 9.67023 23.933C9.07612 23.7095 8.53829 23.3593 8.09365 22.9063C7.64097 22.4619 7.2907 21.9239 7.06719 21.33C6.84724 20.764 6.69658 20.1169 6.65353 19.1697C6.60978 18.2204 6.59961 17.9171 6.59961 15.5C6.59961 13.0829 6.60978 12.7796 6.6533 11.8305C6.69634 10.8831 6.84676 10.2362 7.06672 9.67C7.29022 9.07612 7.64073 8.53806 8.09365 8.09365C8.53806 7.64073 9.07612 7.29046 9.67 7.06696C10.2362 6.847 10.8831 6.69658 11.8305 6.6533C12.7796 6.61002 13.0829 6.59961 15.5 6.59961C17.9171 6.59961 18.2204 6.61002 19.1695 6.65353C20.1169 6.69658 20.7638 6.847 21.33 7.06672C21.9239 7.29022 22.4619 7.64073 22.9066 8.09365C23.3593 8.53829 23.7098 9.07612 23.933 9.67C24.1532 10.2362 24.3037 10.8831 24.3469 11.8305C24.3902 12.7796 24.4004 13.0829 24.4004 15.5C24.4004 17.9171 24.3902 18.2204 24.3467 19.1695V19.1695Z' fill='white')
                                    defs
                                        clippath#clip0_1_44
                                            rect(width='31' height='31' fill='white')
                    div.left_footer
                        a(href='#' class='big_link') Links
                        ul.pl-0
                            li.pt-2
                                a(href='#' class='small_link') Home
                            li.pt-2
                                a(href='#' class='small_link') Services
                            li.pt-2
                                a(href='#' class='small_link') Invest
                            li.pt-2
                                a(href='#' class='small_link') Tutorial
                            li.pt-2
                                a(href='#' class='small_link') Contact
                    div
                        a(href='#' class='big_link') About
                        ul.pl-0
                            li.pt-2
                                a(href='#' class='small_link') Partners
                            li.pt-2
                                a(href='#' class='small_link') Careers
                            li.pt-2
                                a(href='#' class='small_link') Press
                            li.pt-2
                                a(href='#' class='small_link') Community
                    div
                        a(href='#' class='big_link') Resorces
                        ul.pl-0
                            li.pt-2
                                a(href='#' class='small_link') Help
                            li.pt-2
                                a(href='#' class='small_link') Support
                            li.pt-2
                                a(href='#' class='small_link') Stories
                            li.pt-2
                                a(href='#' class='small_link') Reviews
                            li.pt-2
                                a(href='#' class='small_link') Resources
                    div
                        a(href='#' class='big_link') Our Office
                        p.last_text.pt-2 Indonesia<br>Jl. Griya Permata Hijau no D1<br>Purwomartani Kalasan 543881
        script(src='./js/script.js')













