doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Test landing
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family' +
        '=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,' +
        '300;1,400;1,500;1,600;1,700;1,800&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='./css/style.css')
    body#top
        header
            .container.pl-0.pr-0.header_container
                    nav.navbar.navbar-expand-lg.pl-0.pr-0.flex-nowrap
                        a.navbar-brand.my_brand(href='#top')
                            img(src='./images/header/logo.svg' alt='logo')
                        ul.navbar-nav.ml-auto.shadow_container
                            li.nav-item.pr-3
                                a.nav-link.nav_header(href='#')
                                    div.d-flex.align-items-center
                                        img(src='./images/header/mail.svg' alt='mail' class='mr-2 logo')
                                        div.d-flex.flex-column
                                            span.nav_header Mail Us
                                            span.nav_info Info@domain.com
                            li.nav-item.first_nav_item
                                a.nav-link.nav_header(href='#')
                                    div.d-flex.align-items-center
                                        img(src='./images/header/phone.svg' alt='phone' class='mr-2')
                                        div.d-flex.flex-column
                                            span.nav_header Call Us
                                            span.nav_info (+021) 2336 278
                            li.nav-item.first_nav_button
                                button.btn.mw-100.btn-lg.my_button.mw-100(type='button') Make Appointment
            .container.pl-0.pr-0
                nav.navbar.navbar-expand-lg.justify-content-around
                    button.navbar-toggler.collapsed.my_menu(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
                        span.navbar-toggler-icon.icon_menu
                    #navbarSupportedContent.collapse.navbar-collapse.small_menu
                        ul.navbar-nav.mr-auto.small_menu
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#top') HOME
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#sect_3') ABOUT US
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#sect_2') SERVICES
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#sect_4') APPOINTMENT
                            li.nav-item.dropdown.pr-5
                                a#navbarPages.nav-link.dropdown-toggle.down_link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | PAGES
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item.dropdown.pr-5
                                a#navbarBLOG.nav-link.dropdown-toggle.down_link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | BLOG
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item.pr-5
                                a.nav-link.down_link(href='#bottom') CONTACT
                        ul.navbar-nav.ml-auto.small_menu
                            li.nav-item
                                a.nav-link.social_link(href='#')
                                    img(src='images/header/facebook_logo.svg' alt='facebook logo' class='mw-100')
                            li.nav-item
                                a.nav-link.social_link(href='#')
                                    img(src='images/header/twitter_logo.svg' alt='twitter logo' class='mw-100')
                            li.nav-item
                                a.nav-link.social_link(href='#')
                                    img(src='images/header/youtube_logo.svg' alt='youtube logo' class='mw-100')
                            li.nav-item
                                a.nav-link.social_link(href='#')
                                    img(src='images/header/instagram_logo.svg' alt='instagram logo' class='mw-100')
        main
            section.first_section
                .container.position-relative
                    .float-right
                        img(src='./images/first_doctor.png' alt='doctor' class='mw-100 first_section float-right')
                        .position-absolute
                            h1.first_header Best Medical &<br>Healthcare Service<br>For Your Family
                            p.first_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                <br>eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            button.btn.btn-lg.header_button(type='button') Contact us

            section.second_section
                .container
                    .row
                        .col-lg-6.col-md-12.col-sm-12
                            div.left_second
                                a(href='#' class='link_second' id='sect_2') Medical Services
                                h2.second_header We Maintain Regular<br>Procedures
                                p.second_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus elit non
                                    <br>gravida ornare. Fusce pulvinar dui eget massa euismod ultrices. Lorem ipsum dolor
                                    <br>sit amet, consectetur adipiscing elit.
                        .col-lg-6.col-md-12.col-sm-12.pl-0.pr-0
                            .container
                                .row
                                    .col-lg-6.col-md-6.col-sm-12.modal_left
                                        .bg-white.modal_block.pt-5.mb-4
                                            .modal_logo
                                                a(href='#')
                                                    img(src='./images/second_section/registration.svg' alt='logo' class='mw-100')
                                            h6.text-center.pt-4 Registration
                                            p.text-center Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
                                            .modal_link.pb-5.text-center
                                                a(href='#') Learn More →
                                                hr.colored_line
                                        .bg-white.modal_block.pt-5.mb-4
                                            .modal_logo.bg-primary
                                                a(href='#')
                                                    img(src='./images/second_section/waiting_list.svg' alt='logo' class='mw-100')
                                            h6.text-center.pt-4 Waiting List
                                            p.text-center Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
                                            .modal_link.pb-5.text-center
                                                a(href='#') Learn More →
                                                hr.colored_line
                                    .col-lg-6.col-md-6.col-sm-12.modal_right
                                        .bg-white.modal_block.pt-5.mb-4
                                            .modal_logo
                                                a(href='#')
                                                    img(src='./images/second_section/consulation.svg' alt='logo' class='mw-100')
                                            h6.text-center.pt-4 Consultation
                                            p.text-center Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
                                            .modal_link.pb-5.text-center
                                                a(href='#') Learn More →
                                                hr.colored_line
                                        .bg-white.modal_block.pt-5.mb-4
                                            .modal_logo
                                                a(href='#')
                                                    img(src='./images/second_section/treatment.svg' alt='logo' class='mw-100')
                                            h6.text-center.pt-4 Treatment
                                            p.text-center Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.
                                            .modal_link.pb-5.text-center
                                                a(href='#') Learn More →
                                                hr.colored_line
            section.third_section
                .container
                    .row
                        .col-lg-6.col-md-6.col-sm-12
                            .position-relative
                                .float-lg-right
                                    .float-right.third_left.mt-4.ml-5
                                    .position-absolute.big_third
                                        img(src='./images/back_doctor.png' alt='doctor' class='mw-100')
                                    .position-absolute.small_third
                                        img(src='./images/on_doctor.png' alt='doctor' class='mw-100')

                        .col-lg-6.col-md-6.col-sm-12
                            div.about_medical
                                a(href='#' class='link_third' id='sect_3') About MedicaLife
                                h5 We Provide Essential Services For<br>Your Health Care
                                p.pb-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    <br>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    <br>veniam, quis nostrud exercitation ullamco laboris
                            .row.quality
                                .col-lg-6.col-md-6.col-sm-12.pb-4
                                    div.d-flex.align-items-center.pb-4
                                        img(src='./images/third_section/heart.svg' alt='mail' class='mw-100 mr-2 pb-4')
                                        div.d-flex.flex-column
                                            span.third_header Quality of Care Services
                                            p.pt-2 Lorem ipsum dolor sit amet,<br>consecte adipiscing elit
                                    div.d-flex.align-items-center
                                        img(src='./images/third_section/medicine.svg' alt='mail' class='mw-100 mr-2 pb-4')
                                        div.d-flex.flex-column
                                            span.third_header Infection Prevention
                                            p.pt-2 Lorem ipsum dolor sit amet,<br>consecte adipiscing elit
                                .col-lg-6.col-md-6.col-sm-12
                                    div.d-flex.align-items-center.pb-4
                                        img(src='./images/third_section/stethoscope.svg' alt='mail' class='mw-100 mr-2 pb-4')
                                        div.d-flex.flex-column
                                            span.third_header Standards of Treatment
                                            p.pt-2 Lorem ipsum dolor sit amet,<br>consecte adipiscing elit
                                    div.d-flex.align-items-center
                                        img(src='./images/third_section/my_clock.svg' alt='mail' class='mw-100 mr-2 pb-4')
                                        div.d-flex.flex-column
                                            span.third_header 24/7 Working Time
                                            p.pt-2 Lorem ipsum dolor sit amet,<br>consecte adipiscing elit
                            div.d-flex.align-items-center
                                img(src='./images/third_section/check.svg' alt='mail' class='mw-100 mr-2 pb-2')
                                div.d-flex.flex-column
                                    p.pt-2 24 Hours Emergency Assistance Call Us
                            div.d-flex.align-items-center
                                img(src='./images/third_section/check.svg' alt='mail' class='mw-100 mr-2 pb-3')
                                div.d-flex.flex-column
                                    p We are committed to providing healthcare service
                            div.d-flex.align-items-center.pb-4
                                img(src='./images/third_section/check.svg' alt='mail' class='mw-100 mr-2 pb-3')
                                div.d-flex.flex-column
                                    p Really know the true needs and expectations of patients
                            div.third_right
                                button.btn.btn-lg.third_button(type='button') Contact us
                .container.next
                    .row.next_row
                        .col-lg-6.col-md-6.col-sm-12.pt-5
                            h1.third_next_header How It Works
                            p.third_next_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus elit<br>non gravida ornare. Fusce pulvinar dui eget massa euismod ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            .d-flex.pb-2.logo_center
                                .next_logo
                                    img(src='./images/third_section/registration.svg' alt='logo' class='mw-100')
                                div.pl-2
                                    span 1. Registration Process
                                    p Lorem ipsum dolor sit amet.
                            .d-flex.pb-2.logo_center
                                .next_logo
                                    img(src='./images/third_section/diagnostic.svg' alt='logo' class='mw-100')
                                div.pl-2
                                    span 2. Diagnostic Process
                                    p Lorem ipsum dolor sit amet.
                            .d-flex.pb-2.logo_center
                                .next_logo
                                    img(src='./images/third_section/doctor_bag.svg' alt='logo' class='mw-100')
                                div.pl-2
                                    span 3. Treatment Process
                                    p Lorem ipsum dolor sit amet.
                        .col-lg-6.col-md-6.col-sm-12
                            img(src='./images/smile_doctor.png' alt='doctor' class='mw-100')
            section.fourth_section
                .container
                    .row
                        .col-lg-6.col-md-6.col-sm-12
                            .position-relative.d-flex.justify-content-center
                                img(src='./images/ok_doctor.png' alt='doctor' class='mw-100')
                                .position-absolute.fourth_block
                                    .d-flex.justify-content-around
                                        .fourth_elemen.pt-4.pl-4
                                            .fourth_logo.ml-4.mb-2
                                                img(src='./images/second_section/treatment.svg' alt='logo' class='mw-100')
                                            span.fourth_word Appointment
                                        hr.fourth_line
                                        .fourth_elemen.pt-4
                                            .fourth_logo.ml-4.mb-2
                                                img(src='./images/fourth_section/contact_form_fourth.svg' alt='logo' class='mw-100')
                                            span.fourth_word Consultation
                                        hr.fourth_line
                                        .fourth_elemen.pt-4.pr-4
                                            .fourth_logo.ml-3.mb-2
                                                img(src='./images/fourth_section/avatar_fourth.svg' alt='logo' class='mw-100')
                                            span.fourth_word Treatment

                        .col-lg-6.col-md-6.col-sm-12
                            div.left_fourth.pt-5.mt-5
                                a(href='#' class='link_fourth' id='sect_4') APPOINTMENT
                                h2.fourth_header Make An<br>Appointment And<br>Get Treatment
                                p.fourth_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus elit non gravida ornare. Fusce pulvinar dui eget massa euismod ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                div.my_fourth_button
                                    button.btn.btn-lg.fourth_button(type='button') Contact us
            section.fifth_section.pb-4
                .container
                    h4.fifth_header Our Professional Team
                    p.fifth_text MAKE YOUR WORKOUT EASIER AND GET FASTER RESULTS

            section.sixth_section
                .container
                    .d-flex.justify-content-center
                        a(href='#' class='sixth_link') Testimonials
                    h5.text-center.pt-4.pb-5 What Patients Say About Us
                    .row.about_us
                        .col-lg-4-.col-md-4.col-sm-12.mt-5.clients
                            img(src='images/sixth_section/smith.png' alt='men' class='mw-100')
                            p.pt-2.sixth_text "Lorem  ipsum dolor sit amet,<br>consectetur adipiscing elit. Integer<br>laoret purus  sed mattis placerat. Ut<br>at ante molestie. consectetu adipiscing elit."
                            span.name Smithi John
                            br
                            span.job Buisnessmen
                        .col-lg-4-.col-md-4.col-sm-12.mt-5.clients
                            img(src='images/sixth_section/dani.png' alt='men' class='mw-100')
                            p.pt-2.sixth_text "Lorem  ipsum dolor sit amet,<br>consectetur adipiscing elit. Integer<br>laoret purus  sed mattis placerat. Ut<br>at ante molestie. consectetu adipiscing elit."
                            span.name Bisto John
                            br
                            span.job Buisnessmen
                        .col-lg-4-.col-md-4.col-sm-12.mt-5.clients
                            img(src='images/sixth_section/bisto.png' alt='men' class='mw-100')
                            p.pt-2.sixth_text "Lorem  ipsum dolor sit amet,<br>consectetur adipiscing elit. Integer<br>laoret purus  sed mattis placerat. Ut<br>at ante molestie. consectetu adipiscing elit."
                            span.name Dani John
                            br
                            span.job Buisnessmen
        footer#bottom
            .container
                .d-flex.justify-content-between.my_footer.row
                    div
                        span.footer_logo M
                        span.footer_header Medicate
                        p.footer_text.pt-4.pb-2 We are the most powerful and leading<br>software agency in the world
                        .row.right_footer
                            a.nav-link.my_footer_link(href='#')
                                img(src='images/header/facebook_logo.svg' alt='facebook logo' class='mw-100')
                            a.nav-link.my_footer_link(href='#')
                                img(src='images/header/twitter_logo.svg' alt='twitter logo' class='mw-100')
                            a.nav-link.my_footer_link(href='#')
                                img(src='images/header/youtube_logo.svg' alt='youtube logo' class='mw-100')
                            a.nav-link.my_footer_link(href='#')
                                img(src='images/header/instagram_logo.svg' alt='instagram logo' class='mw-100')
                    div.left_footer
                        a(href='#' class='big_link') Links
                        ul.pl-0
                            li.pt-2
                                a(href='#' class='small_link') Home
                            li.pt-2
                                a(href='#' class='small_link') Services
                            li.pt-2
                                a(href='#' class='small_link') Invest
                            li.pt-2
                                a(href='#' class='small_link') Tutorial
                            li.pt-2
                                a(href='#' class='small_link') Contact
                    div
                        a(href='#' class='big_link') About
                        ul.pl-0
                            li.pt-2
                                a(href='#' class='small_link') Partners
                            li.pt-2
                                a(href='#' class='small_link') Careers
                            li.pt-2
                                a(href='#' class='small_link') Press
                            li.pt-2
                                a(href='#' class='small_link') Community
                    div
                        a(href='#' class='big_link') Resorces
                        ul.pl-0
                            li.pt-2
                                a(href='#' class='small_link') Help
                            li.pt-2
                                a(href='#' class='small_link') Support
                            li.pt-2
                                a(href='#' class='small_link') Stories
                            li.pt-2
                                a(href='#' class='small_link') Reviews
                            li.pt-2
                                a(href='#' class='small_link') Resources
                    div
                        a(href='#' class='big_link') Our Office
                        p.last_text.pt-2 Indonesia<br>Jl. Griya Permata Hijau no D1<br>Purwomartani Kalasan 543881
        script(src='./js/script.js')













